@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #006565;
  --color-primary-container: #008080;
  --color-on-primary-container: #e3fffe;
  --color-secondary: #855300;
  --color-secondary-container: #fea619;
  --color-on-secondary-container: #684000;
  --color-surface: #f8f9ff;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #3e4949;
  
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

